/* 共通 */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(80, 80, 80, 1);
}

a:hover {
  color: rgb(0, 0, 0);
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-right: 2rem;
}

h1 {
  color: rgba(80, 80, 80, 1);
}

h2 {
  color: rgba(80, 80, 80, 1);
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  padding: 20px 0 20px 0;
  background-color: rgba(206, 181, 173, 1);
}

header, nav, h2, footer {
  /* font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif; */
  font-family: 'Snell Roundhand','Snell Roundhand','Snell Roundhand','Snell Roundhand','Snell Roundhand',sans-serif;
}

/* PC用 */
@media screen and (min-width: 769px) {
  /* page5 */
  /* ヘッダー */

  /* SP用メニュー非表示 */
  .sp-menu {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: rgba(206, 181, 173, 1);
  }

  .logo {
    width: 7rem;
  }

  .nav {
    margin: auto 0;
  }

  /* タイトル */
  .contents-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 20px 0;
  }

  /* 商品情報セクション */
  .marchandise-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .marchandise-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 1);
    margin: 10px 0;
    width: 80%;
    height: 150px;
  }

  .marchandise-content > a {
    display: flex;
    width: 100%;
    height: auto;
  }

  .release-date {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 130px;
    padding-left: 5px;
  }

  .marchandise-img {
    display: flex;
    justify-content: center;
    width: auto;
    height: 140px;
  }

  .marchandise-name {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 140px;
  }

  .marchandise-name > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ページャー */
  .Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8, 0.8);
    margin: 20px 0 30px 0;
  }
  .Pagination-Item-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45px;
    height: 45px;
    background: #fff;
    border: solid 2px rgba(80, 80, 80, 1);
    font-size: 14px;
    color: rgba(80, 80, 80, 1);
    font-weight: bold;
    transition: all 0.15s linear;
  }
  .Pagination-Item-Link-Icon {
    width: 20px;
  }
  .Pagination-Item-Link.isActive {
    background: rgba(80, 80, 80, 1);
    color: #fff;
    pointer-events: none;
  }
  .Pagination-Item-Link:not(.isActive):hover {
    background: rgba(80, 80, 80, 1);
    color: #fff;
  }
  .Pagination > * + * {
    margin-left: 12px;
  }

  /* page6 */
  .marchandise-img-section {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    width: 500px;
    height: auto;
  }

  .marchandise-img-page6 {
    display: flex;
    justify-content: center;
    width: 650px;
    height: auto; 
  }

  .menu-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: rgba(245, 245, 245, 1);
    margin-top: 20px;
    border-radius: 10px;
  }

  .menu-description-title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95%;
    height: auto;
    margin: 30px 0 10px 0;
  }

  .menu-text {
    display: flex;
    justify-content: center;
    width: 80%;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

/* SP用 */
@media screen and (max-width: 768px) {
  /* page5 */
  /* ヘッダー */
  /* ハンバーガーメニューのボタン */
  .sp-menu__box {
    position: fixed;  /* 位置を固定 */
    top: 15px;
    right: 15px;
    /* 中の要素を上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
    /* サイズ指定 */
    height: 70px;
    width: 70px;
    /* 最前面にする */
    z-index: 100;
    background-color: transparent;
  }
  /* メニューの白線を疑似要素を使って3本作成 */
  .sp-menu__box span,         /* 真ん中の線 */
  .sp-menu__box span:before,  /* 上の線 */
  .sp-menu__box span:after {  /* 下の線 */
    /* contentの値を指定しないと疑似要素が生成されない */
    content: "";
    /* ３本線のサイズと色を指定 */
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: rgba(102, 102, 102, 1.0);
    /* 3本線の位置は絶対位置で指定 */
    position: absolute;
    transition: transform 0.5s ease;
  }
  /* 上の線の位置 */
  .sp-menu__box span:before {
    /* 真ん中の線と離す距離 */
    bottom: 8px;
  }
  /* 下の線の位置 */
  .sp-menu__box span:after {
    /* 真ん中の線と離す距離 */
    top: 8px;
  }

  #sp-menu__check {
    display: none;
  }
  /* チェックボックスのチェックがON（スマホ用メニューを開いた状態） */
  /* #sp-menu__check:checked ~ .sp-menu__box {
    background-color: rgb(186, 186, 186);
  } */
  #sp-menu__check:checked ~ .sp-menu__content {
    right: 0;
  }
  /* 真ん中の線 */
  #sp-menu__check:checked ~ .sp-menu__box span {
    /* 透明にして見えなくする */
    background: rgba(255, 255, 255, 0);
  }

  /* 上の線 */
  #sp-menu__check:checked ~ .sp-menu__box span::before {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    bottom: 0;
    /* 右に45度傾けてバツの片側の線にする */
    transform: rotate(45deg);
  }
  /* 下の線 */
  #sp-menu__check:checked ~ .sp-menu__box span::after {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    top: 0;
    /* 左に45度傾けてバツの片側の線にする */
    transform: rotate(-45deg);
  }

  /* スマホ用メニュー */
  .sp-menu__content {
    /* 絶対位置で指定   */
    position: fixed;
    width: 30%;
    height: 30%;
    /* 開始位置は左上隅 */
    top: 0;
    right: 0;
    /* 前面に表示するがハンバーガーボタンよりは背後 */
    z-index: 90;
    background-color: rgb(186, 186, 186);
    /* 普段は画面外にするために左端を画面右端の位置にする */
    right: -120%;
    /* 右端からゆっくり移動するように表示 */
    transition: all 0.3s;
    opacity: 0.9;
  }
  /* スマホ用メニューのリスト */
  .sp-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  /* スマホ用メニュー項目 */
  .sp-menu__item {
    list-style: none;
  }

  /* スマホ用メニュー項目のリンク */
  .sp-menu__link {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    text-align: center;
  }

  /* ハンバーガーボタンを押してチェックがONの時だけ
   スマホ用メニューを画面左端に移動する */
  #sp-menu__check:checked ~ .sp-menu__content {
    right: 0;
  }

  /* PC用メニュー非表示 */
  .nav {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: rgba(206, 181, 173, 1);
  }

  .logo {
    width: 7rem;
  }

  .nav {
    margin: auto 0;
  }

  /* タイトル */
  .contents-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: small;
  }

  /* 商品情報セクション */
  .marchandise-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
  }

  .marchandise-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 1);
    margin: 15px 0;
    width: 80%;
  }

  .marchandise-content > a {
    display: flex;
    width: 100%;
    height: auto;
  }

  .release-date {
    display: flex;
    justify-content: flex-start;
    width: 45%;
    height: 100px;
    padding: 10px;
  }

  .sp-font {
    font-size: x-small;
  }

  .marchandise-img {
    display: flex;
    justify-content: center;
    height: 90px;
    width: auto;
  }

  .marchandise-name {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 90px;
  }

  .marchandise-name > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ページャー */
  .Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.5, 0.5);
  }
  .Pagination-Item-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45px;
    height: 45px;
    background: #fff;
    border: solid 2px rgba(80, 80, 80, 1);
    font-size: 14px;
    color: rgba(80, 80, 80, 1);
    font-weight: bold;
    transition: all 0.15s linear;
  }
  .Pagination-Item-Link-Icon {
    width: 20px;
  }
  .Pagination-Item-Link.isActive {
    background: rgba(80, 80, 80, 1);
    color: #fff;
    pointer-events: none;
  }
  .Pagination-Item-Link:not(.isActive):hover {
    background: rgba(80, 80, 80, 1);
    color: #fff;
  }
  .Pagination > * + * {
    margin-left: 12px;
  }

  /* page6 */
  .marchandise-img-section {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
  }

  .marchandise-img-page6 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: auto; 
  }

  .menu-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgba(245, 245, 245, 1);
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px 0;
  }

  .menu-description-title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: auto;
    font-size: small;
  }

  .menu-text {
    display: flex;
    justify-content: center;
    width: 75%;
    line-height: 30px;
  }
}